@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BlogApp</h1>
    <p>Manage your blog posts here.</p>
    <p><a asp-page="/Posts/Index" class="btn btn-primary">View Posts</a></p>
</div>
